* {
    font-family: 'Poppins', sans-serif;

}
/* nav */
.logo {
    display: flex;
}
.main-nav-wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
}
nav h2 {
    font-size: 25px;
    width: 100%;
}
.search {
    width: 100%;
    max-width: 800px;
    text-align: right;
    padding-top: 15px;
}
.search input {
    width: 100%;
    max-width: 400px;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;
}
/* nav ends */

.main-wrapper {
    display: flex;
    justify-content: start;
    margin-top: 30px;
    padding: 10px;
}

.video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-left: 60px;
}
.video-title {
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding-top: 10px;
}
.video-description {
    background-color: #ededed;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    max-width: 95%;
    margin-top: 2%;
}
.video-title-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}
.video-list {
    margin-left: 4%;
}
.video-list-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.random-title {
    font-weight: bold;
    margin: 0px !important;
    padding: 0px !important;
}
.video-list-inner p {
    padding-right: 10px;
    width: 100%;
    font-size: 14px;
    padding-top: 0px;
    margin-top: 0px;
}
.inner-title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-vid {
    width: 100%;
}
.likes {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    font-size: 15px !important;
}
.likes a {
    text-decoration: none;
    color: #000000;
    padding: 0px;
}
.views {
    font-weight: bold;
}
.share {
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.share a {
    text-decoration: none;
    color: #000000;
}
.social {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-right: 5%;
}
iframe {
    border-radius: 10px;
}
.thumb {
    margin: 14px 0px 14px 0px;
}

@media only screen and (max-width: 600px) {
    .main-wrapper {
    flex-direction: column;
    }
    .logo h2 {
        font-size: 20px;
    }
    .video-wrapper {
        padding-left: 0px !important;
        width: 100%;
        max-width: 100%;
    }
    .video-title-wrapper {
    flex-direction: column;
    width: 100%;
    }
    .inner-title-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 10pox;
    }
    .main-vid {
        width: 100%;
        height: 200px;    
    }
    .video-list {
        margin-left: 0%;
        padding-left: 0px;
        margin: auto;
        justify-content: start;
    }
    .search {
        margin-left: 20px;
        width: 100%;
    }
    .video-description {
        width: 100%;
    }
    .video-list-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: start;
    }
    .social {
        justify-content: start;
    }
    .search input {
        width: 100%;
        max-width: 150px;
    }
    .video-list-inner {
        flex-direction: column;
    }
    .thumb {
        width: 100%;
    }
  }